$gray-lighten: rgb(238, 238, 238);
$gray-light: rgb(225, 225, 225);
$gray: rgb(223, 223, 223);
$gray-dark: rgb(219, 219, 219);
$gray-darken: rgb(213, 213, 213);
$red: rgb(251, 86, 90);
$red-dark: rgb(231, 66, 70);
$red-darken: rgb(215, 55, 59);
$green: rgb(0, 202, 116);
$green-dark: rgb(0, 188, 108);
$green-darken: rgb(0, 170, 98);
$yellow: rgb(239, 200, 74);
$yellow-dark: rgb(234, 181, 52);
$yellow-darken: rgb(229, 167, 34);

$font-stack: "Roboto", "Arial", sans-serif;
$font-size: 16px;
$line-height: 24px;
$page-background: #ffffff;
$text-color: rgb(40, 49, 54);
$text-button-color: #ffffff;
$logo-color: #000000;
$social-icon-color: #ffffff;
$page-header-background: $gray-lighten;
$slider-background: $gray-lighten;
$site-button-background: $red;
$site-button-hover-background: $red-dark;
$site-button-click-background: $red-darken;
$app-button-background: $green;
$app-button-hover-background: $green-dark;
$app-button-click-background: $green-darken;
$presentation-button-background: $yellow;
$presentation-button-hover-background: $yellow-dark;
$presentation-button-click-background: $yellow-darken;
$social-link-background: $gray-light;
$input-text-color: rgb(68, 68, 68);
$input-border-color: rgb(215, 220, 222);
$input-hover-border-color: rgb(180, 185, 187);
$input-focus-border-color: #000000;
$invalid-value-color: $red-dark;
$range-line-color-first: rgb(0, 202, 16);
$range-line-color-second: rgb(215, 220, 222);
$range-toggle-background: rgb(171, 171, 171);
$radio-color: rgb(77, 77, 77);
$checkbox-color: rgb(77, 77, 77);
$filter-button-background: $gray-lighten;
$shop-card-description-background: $gray-lighten;
$shop-card-text-color: rgb(102, 102, 102);
