.about-us {
  &__title {
    margin: 0;
    margin-top: 73px;
    margin-bottom: 35px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
  }

  &__text {
    margin: 0;
    margin-bottom: 38px;
  }

  &__list-title {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__list {
    @include reset-style-list;
    margin-top: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 25px;
  }

  &__item::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    margin-right: 10px;
    vertical-align: middle;

    background-color: $red;
  }
}
