.adress {
  position: relative;
  min-height: 415px;
  overflow: hidden;

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__wrapper {
    @include content-box;
  }

  &__contacts {
    width: 220px;
    margin-top: 54px;
    padding: 50px;
    padding-bottom: 47px;

    background-color: #ffffff;
  }

  &__title {
    font-size: 18px;
    line-height: 30px;
  }

  &__text {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  &__button {
    @include reset-style-link;

    display: block;
    padding: 16px 0;
    margin-top: 35px;

    text-align: center;
    color: #ffffff;
  }
}
