.feedback-form {
  width: 760px;
}

.feedback-form__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 15px;
}

.feedback-form__name,
.feedback-form__email {
  width: 360px;
}

.feedback-form__text {
  flex-grow: 1;
}

.feedback-form__button {
  padding: 15px 80px;
}
