.input-text {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 30px;

  color: $input-text-color;
}

.input-text__label {
  font-weight: 700;
}

.input-text__field {
  padding: 10px;

  font: inherit;

  border: 2px solid $input-border-color;
  border-radius: 3px;

  &::placeholder {
    font: inherit;
    color: rgba($input-text-color, 0.5);
  }

  &:hover {
    border-color: $input-hover-border-color;
  }

  &:focus {
    border-color: $input-focus-border-color;
  }

  &--textarea {
    resize: none;
  }
}
