.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation__logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;

  &--link {
    &:hover .navigation__image {
      fill: rgba(#000000, 0.8);
    }

    &:active .navigation__image {
      fill: rgba(#000000, 0.3);
    }
  }
}

.navigation__site-list {
  width: 600px;
}

.navigation__user-list {
  width: 160px;
}

.navigation__item {
  position: relative;

  &--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: $red;
  }
}

.navigation__link {
  position: relative;
  color: $text-color;

  &:hover {
    color: $red;
  }

  &:active {
    color: rgba($text-color, 0.3);
  }
}
