.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;

  &__logo {
    width: 160px;
    height: 65px;
    margin-right: 200px;

    &--link {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__site-list {
    width: 600px;
  }

  &__user-list {
    width: 160px;
  }

  &__link {
    color: $text-color;

    &:hover {
      color: $red;
    }

    &:active {
      color: rgba($text-color, 0.3);
    }
  }
}
