.projects {
  &__wrapper {
    @include content-box;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 2px;

      background-color: $gray-lighten;
      background-clip: padding-box;
    }
  }

  &__list {
    @include reset-style-list;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 35px 0;
  }

  &__link {
    @include reset-style-link;

    width: 260px;
    height: 110px;

    opacity: 0.2;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
