.radio {
  color: $text-color;
  cursor: pointer;

  &:hover {
    color: #000000;

    .radio__control {
      border-color: $radio-color;
    }

    .radio__input:checked + .radio__control {
      background-color: $radio-color;
    }
  }
}

.radio__control {
  display: inline-block;
  width: 9px;
  height: 9px;
  padding: 4px;
  margin-right: 10px;
  vertical-align: top;

  background-clip: content-box;
  border: 4px solid rgba($radio-color, 0.4);
  border-radius: 50%;
}

.radio__input {
  &:checked + .radio__control {
    background-color: rgba($radio-color, 0.4);
  }

  &:checked:focus + .radio__control {
    border-color: $radio-color;
    background-color: $radio-color;
  }

  &:disabled + .radio__control,
  &:disabled:focus + .radio__control {
    border-color: rgba($radio-color, 0.1);
  }

  &:disabled:checked + .radio__control,
  &:disabled:checked:focus + .radio__control {
    border-color: rgba($radio-color, 0.1);
    background-color: rgba($radio-color, 0.1);
  }

  &:disabled ~ .radio__text,
  &:disabled:focus ~ .radio__text {
    color: rgba($text-color, 0.3);
  }
}
