.shop {
  &__wrapper {
    @include content-box;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__filter {
    width: 260px;
  }

  &__content {
    width: 760px;
  }

  &__sorting {
    margin-bottom: 48px;
  }
}
