.shop-list {
  @include reset-style-list;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  margin-bottom: 27px;
}

.shop-list__item {
  position: relative;
  margin-bottom: 33px;
  width: 360px;

  overflow: hidden;
  transition: box-shadow ease-in-out 0.5s;

  &:hover {
    box-shadow: 0 6px 15px rgba(#000000, 0.25);

    .shop-list__browser-head {
      fill: $shop-card-browser-color;
    }

    .shop-list__description {
      transform: translateY(0) scale(1);
    }
  }
}

.shop-list__link {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.shop-list__browser-head {
  width: 360px;
  height: 40px;

  fill: rgba($shop-card-browser-color, 0.12);
}

.shop-list__description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 240px;
  padding: 30px 60px 42px;

  background-color: $shop-card-description-background;
  transform: translateY(200px) scale(0);
  transition: transform ease-in-out 0.8s;
}

.shop-list__title {
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.shop-list__text {
  margin-bottom: 33px;

  line-height: 18px;
  color: $shop-card-text-color;
  text-align: center;
}

.shop-list__button {
  @include reset-style-link;

  padding: 16px 60px;

  color: $text-button-color;
}
