.shop__wrapper {
  @include content-box;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.shop__filter {
  width: 260px;
}

.shop__content {
  width: 760px;
}

.shop__sorting {
  margin-bottom: 48px;
}
