.site-navigation {
  @include reset-style-list;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &__item {
    margin-right: 47px;
  }

  &__link {
    @include reset-style-link;
  }
}
