.site-navigation {
  @include reset-style-list;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.site-navigation__item {
  margin-right: 47px;
}

.site-navigation__link {
  @include reset-style-link;
}
