.social__list {
  @include reset-style-list;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 80px;
  height: 80px;

  background-color: $gray-light;
  border-radius: 50%;

  &:hover {
    background-color: $site-button-hover-background;
  }

  &:active {
    background-color: $site-button-click-background;

    .social__icon {
      fill: rgba($social-icon-color, 0.3);
    }
  }
}

.social__icon {
  margin: auto;

  &--vkontakte {
    width: 26px;
    height: 15px;
  }

  &--facebook {
    width: 12px;
    height: 22px;
  }

  &--instagram {
    width: 21px;
    height: 21px;
  }
}
