.suggestions__wrapper {
  @include content-box;

  &::after {
    content: "";
    display: block;
    height: 2px;

    background-color: $gray-lighten;
    background-clip: padding-box;
  }
}

.suggestions__list {
  @include reset-style-list;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.suggestions__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 300px;
  min-height: 347px;

  &::before {
    content: "";
    display: block;
    width: 300px;
    height: 145px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-position: top left;
  }

  &--site::before {
    background-color: $red;
    background-image: url("../img/sites.png");
  }

  &--app::before {
    background-color: $green;
    background-image: url("../img/apps.png");
  }

  &--presentation::before {
    background-color: $yellow;
    background-image: url("../img/presentations.png");
  }
}

.suggestions__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.suggestions__text {
  margin: 0;
  margin-bottom: 32px;
}

.suggestions__button {
  @include reset-style-link;

  align-self: flex-start;
  margin-top: auto;
  padding: 16px 40px;

  color: #ffffff;

  &--app {
    background-color: $app-button-background;

    &:hover {
      background-color: $app-button-hover-background;
    }

    &:active {
      background-color: $app-button-click-background;
    }
  }

  &--presentation {
    background-color: $presentation-button-background;

    &:hover {
      background-color: $presentation-button-hover-background;
    }

    &:active {
      background-color: $presentation-button-click-background;
    }
  }
}
