.user-navigation {
  @include reset-style-list;

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: auto;

  &__link {
    @include reset-style-link;

    &--basket::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      padding-right: 25px;
      vertical-align: baseline;

      background-image: url("../img/basket.svg");
      background-repeat: no-repeat;
      background-position: top left;
    }
  }
}
